/* NAVBAR
-------------- */
header nav{
    -webkit-box-shadow: 0px 7px 20px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 7px 20px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 7px 20px -8px rgba(0,0,0,0.75);
}